#intro {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;

    display: none;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

#intro.visible {
    display: flex;
}

#intro > .promotion {
    flex-grow: 1;
}

#intro > .message {
    background-color: #093818;
    color: #ffffff;
    padding: 7.5vw 5vw;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7.5vw;
}

#intro > .promotion {
    background-image: url("../../images/index/intro.promotion.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
}

#intro > .message > .logo {
    height: 15vw;
}

#intro > .message > .caption {
    font-size: 5vw;
}