#toolbar {
    border-bottom: 0.0625rem solid #eeeeee;
}

#toolbar > .layout-content {
    padding: 0.75rem 0;
}

#toolbar > .layout-content > .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    font-size: 0.9rem;
}

#toolbar > .layout-content > .menu > .stretch {
    flex-grow: 1;
}

#toolbar > .layout-content > .menu > .item > .label {
    cursor: pointer;
}

#toolbar > .layout-content > .menu > .item > .item {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.325rem;
}

#toolbar > .layout-content > .menu > .item > .item > .icon {
    height: 1rem;
}