<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjb.studyadvanceduserbbs.mappers.EmailTokenMapper" >
    <insert id="insert">
        insert into `saub`.`email_tokens` (email, code, salt, user_agent, is_used, created_at, expires_at)
        values (#{emailToken.email}, #{emailToken.code}, #{emailToken.salt}, #{emailToken.userAgent}, #{emailToken.isUsed}, #{emailToken.createdAt}, #{emailToken.expiresAt})
    </insert>

    <update id="update">
        update `saub`.`email_tokens`
        set `user_agent` = #{emailToken.userAgent},
            `is_used`    = #{emailToken.isUsed},
            `created_at` = #{emailToken.createdAt},
            `expires_at` = #{emailToken.expiresAt}
        where `email` = #{emailToken.email}
          and `code` = #{emailToken.code}
          and `salt` = #{emailToken.salt}
    </update>

    <select id="selectByEmailAndCodeAndSalt"
            resultType="com.yjb.studyadvanceduserbbs.entities.EmailTokenEntity">
        select `email`      as `email`,
               `code`       as `code`,
               `salt`       as `salt`,
               `user_agent` as `userAgent`,
               `is_used`    as `isUsed`,
               `created_at` as `createdAt`,
               `expires_at` as `expiresAt`
        from `saub`.`email_tokens`
        where `email` = #{email}
          and `code` = #{code}
          and `salt` = #{salt}
    </select>
</mapper>