.bar {
    width: 30rem;
    height: 3rem;
    background-color: #d5d8dc;

    margin-bottom: 2rem;
}

.bar:nth-child(1){
    background-image: linear-gradient(90deg, #ec7063 0% 50%, #5499c7 50% 100%);
}
.bar:nth-child(2){
    background-image: linear-gradient(90deg, #ec7063 0% 25%, #5499c7 75% 100%);
}
.bar:nth-child(3){
    background-image: linear-gradient(90deg, #ec7063, #5499c7, #58d68d);
}

