dl{
    width: 25rem;
}

dt{
    background-color: salmon;
    color: #ffffff;
}
dt > label {
    padding: 0.5rem 0.75rem;
    display: block;
    position: relative;
}

dt > label > input {
    display: none;
}

dt > label > .toggle {
    height: 1rem;
    position: absolute;
    right: 0.75rem;
    display: none;
}

dt > label > input:checked ~ .toggle.collapse {
    display: inline-block;
}

dt > label > input:not(:checked) ~ .toggle.expand {
    display: inline-block;
}

dd {
    margin: 0;
    padding: 1rem;
    background-color: peachpuff;
    display: none;
}

dt:has(input:checked) + dd{
    display: block;
}